<launch>
    <!-- topic names -->
    <arg name="bb_topic"         default=""/>
    <arg name="image_topic"      default=""/>
    <arg name="camera_info"      default=""/>
    <arg name="homography_topic" default=""/>


    <!-- forward output to [screen|log] -->
    <arg name="output" default="screen"/>

    <node name="object_fusion" pkg="drive_ros_object_fusion"
          type="drive_ros_object_fusion_node" output="$(arg output)">
        <remap from="~/bb_topic"    to="$(arg bb_topic)"/>
        <remap from="~/image_topic" to="$(arg image_topic)"/>
        <remap from="camera_info"   to="$(arg camera_info)"/>
        <remap from="homography_in" to="$(arg homography_topic)"/>
        <rosparam command="load" file="$(find drive_ros_image_recognition)/config/homography.yaml"/>
    </node>
</launch>
